<html>
<head>
	<title>Test Page</title>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">

	<link href="css/addTaskHomep2.css" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:ital@0;1&display=swap" rel="stylesheet">



</head>
<body>



		<section>
	<header class="headerHome">
			<h1 class=>Hello Kobe,</h1>
			<h4>What do we have planned for today?</h4>
	</header>
	<div id="myList">
		<ul>
			{{#each arr}}
			<li id="myTask" style="{{color}}">{{name}}</li>
			{{/each}}
		</ul>
	</div>

		

	
	</section>
<footer class="app-footer">
	<button type="button" id="homeButton">Create Task!</button>
</footer>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="js/bootstrap.js"></script>
<script src="/js/homePage.js"></script>

</body>
</html>